In [14]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
import matplotlib.cm as cm

In [15]:
data = pd.read_csv("../../Data/yfinance_data/AAPL_historical_data.csv")

Getting basic information

In [16]:
data.head()

,Date,Open,High,Low,Close,Adj Close,Volume,Dividends,Stock Splits
0,1980-12-12,0.128348,0.128906,0.128348,0.128348,0.098943,469033600,0.0,0.0
1,1980-12-15,0.122210,0.122210,0.121652,0.121652,0.093781,175884800,0.0,0.0
2,1980-12-16,0.113281,0.113281,0.112723,0.112723,0.086898,105728000,0.0,0.0
3,1980-12-17,0.115513,0.116071,0.115513,0.115513,0.089049,86441600,0.0,0.0
4,1980-12-18,0.118862,0.119420,0.118862,0.118862,0.091630,73449600,0.0,0.0

In [17]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10998 entries, 0 to 10997
Data columns (total 9 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Date          10998 non-null  object
 1   Open          10998 non-null  float64
 2   High          10998 non-null  float64
 3   Low           10998 non-null  float64
 4   Close         10998 non-null  float64
 5   Adj Close     10998 non-null  float64
 6   Volume        10998 non-null  int64
 7   Dividends     10998 non-null  float64
 8   Stock Splits  10998 non-null  float64
dtypes: float64(7), int64(1), object(1)
memory usage: 773.4+ KB

In [18]:
data.shape

(10998, 9)

Summary statistics

In [19]:
data.describe()

,Open,High,Low,Close,Adj Close,Volume,Dividends,Stock Splits
count,10998.000000,10998.000000,10998.000000,10998.000000,10998.000000,1.099800e+04,10998.000000,10998.000000
mean,22.299160,22.539055,22.068367,22.312754,21.494496,3.180806e+08,0.000752,0.001546
std,46.003685,46.496031,45.540929,46.037660,45.561916,3.354523e+08,0.011753,0.083663
min,0.049665,0.049665,0.049107,0.049107,0.037857,0.000000e+00,0.000000,0.000000
25%,0.299107,0.303710,0.290179,0.298549,0.241840,1.132545e+08,0.000000,0.000000
50%,0.531250,0.537946,0.522321,0.531250,0.432079,2.057412e+08,0.000000,0.000000
75%,20.204196,20.389554,19.998036,20.196160,17.253029,3.985275e+08,0.000000,0.000000
max,236.479996,237.229996,233.089996,234.820007,234.548523,7.421641e+09,0.250000,7.000000

In [20]:
data.columns

Index(['Date', 'Open', 'High', 'Low', 'Close', 'Adj Close', 'Volume',
       'Dividends', 'Stock Splits'],
      dtype='object')

Looking for missing values

In [21]:
data.isnull().sum()

Date            0
Open            0
High            0
Low             0
Close           0
Adj Close       0
Volume          0
Dividends       0
Stock Splits    0
dtype: int64

Checking for outliers

In [22]:
def outliers(c):
  z_scores = (data[c] - data[c].mean()) / data[c].std()
  outlier = data[np.abs(z_scores) > 3]
  print(c," outliers\n",outlier[c], "\n\n")

In [23]:
outliers("Open")
outliers("High")
outliers("Low")
outliers("Close")
outliers("Volume")

Open  outliers
 10324    161.679993
10325    161.119995
10326    160.750000
10330    167.479996
10332    164.020004
            ...
10993    224.000000
10994    218.929993
10995    218.699997
10996    216.960007
10997    219.190002
Name: Open, Length: 452, dtype: float64


High  outliers
 10324    165.699997
10326    162.139999
10329    165.520004
10330    170.300003
10331    164.199997
            ...
10993    224.800003
10994    220.850006
10995    219.490005
10996    219.300003
10997    220.330002
Name: High, Length: 462, dtype: float64


Low  outliers
 10324    161.000000
10325    159.059998
10326    159.639999
10328    158.789993
10329    159.919998
            ...
10993    217.130005
10994    214.619995
10995    216.009995
10996    215.750000
10997    216.119995
Name: Low, Length: 452, dtype: float64


Close  outliers
 10323    160.550003
10324    161.020004
10325    161.410004
10326    161.940002
10329    165.300003
            ...
10993    218.539993
10994    217.490005
10995    217.960007
10996    218.240005
10997    218.800003
Name: Close, Length: 453, dtype: float64


Volume  outliers
 703     2832345600
2054    2127171200
2612    1700384000
2624    1868372800
3183    2120596800
           ...
7417    1676018400
7593    1880998000
7865    1506120000
7884    1418844000
8100    1460852400
Name: Volume, Length: 208, dtype: int64