In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
import matplotlib.cm as cm

In [2]:
data = pd.read_csv("../../Data/yfinance_data/MSFT_historical_data.csv")

Getting basic information

In [3]:
data.head()

,Date,Open,High,Low,Close,Adj Close,Volume,Dividends,Stock Splits
0,1986-03-13,0.088542,0.101563,0.088542,0.097222,0.059946,1031788800,0.0,0.0
1,1986-03-14,0.097222,0.102431,0.097222,0.100694,0.062087,308160000,0.0,0.0
2,1986-03-17,0.100694,0.103299,0.100694,0.102431,0.063158,133171200,0.0,0.0
3,1986-03-18,0.102431,0.103299,0.098958,0.099826,0.061552,67766400,0.0,0.0
4,1986-03-19,0.099826,0.100694,0.097222,0.098090,0.060482,47894400,0.0,0.0

In [4]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9672 entries, 0 to 9671
Data columns (total 9 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Date          9672 non-null   object
 1   Open          9672 non-null   float64
 2   High          9672 non-null   float64
 3   Low           9672 non-null   float64
 4   Close         9672 non-null   float64
 5   Adj Close     9672 non-null   float64
 6   Volume        9672 non-null   int64
 7   Dividends     9672 non-null   float64
 8   Stock Splits  9672 non-null   float64
dtypes: float64(7), int64(1), object(1)
memory usage: 680.2+ KB

In [5]:
data.shape

(9672, 9)

Summary statistics

In [6]:
data.describe()

,Open,High,Low,Close,Adj Close,Volume,Dividends,Stock Splits
count,9672.000000,9672.000000,9672.000000,9672.000000,9672.000000,9.672000e+03,9672.000000,9672.000000
mean,58.402199,59.003071,57.784759,58.417683,52.719365,5.677678e+07,0.002982,0.001758
std,90.122302,90.958645,89.232546,90.146786,90.066461,3.814123e+07,0.046524,0.057944
min,0.088542,0.092014,0.088542,0.090278,0.055665,2.304000e+06,0.000000,0.000000
25%,5.695313,5.770508,5.617188,5.695313,3.511695,3.206982e+07,0.000000,0.000000
50%,27.304999,27.600000,27.085000,27.341875,19.145540,4.990225e+07,0.000000,0.000000
75%,46.687500,47.099998,46.138672,46.657187,38.339042,7.071788e+07,0.000000,0.000000
max,467.000000,468.350006,464.459991,467.559998,466.718781,1.031789e+09,3.080000,2.000000

In [7]:
data.columns

Index(['Date', 'Open', 'High', 'Low', 'Close', 'Adj Close', 'Volume',
       'Dividends', 'Stock Splits'],
      dtype='object')

Looking for missing values

In [8]:
data.isnull().sum()

Date            0
Open            0
High            0
Low             0
Close           0
Adj Close       0
Volume          0
Dividends       0
Stock Splits    0
dtype: int64

Checking for outliers

In [9]:
def outliers(c):
  z_scores = (data[c] - data[c].mean()) / data[c].std()
  outlier = data[np.abs(z_scores) > 3]
  print(c," outliers\n",outlier[c], "\n\n")

In [10]:
outliers("Open")
outliers("High")
outliers("Low")
outliers("Close")
outliers("Volume")

Open  outliers
 8983    331.359985
8984    330.309998
8985    333.899994
8986    332.890015
8987    338.510010
           ...
9667    440.450012
9668    428.799988
9669    418.200012
9670    431.579987
9671    427.720001
Name: Open, Length: 295, dtype: float64


High  outliers
 8982    332.000000
8984    333.450012
8985    334.899994
8986    336.540009
8987    338.790009
           ...
9667    441.480011
9668    429.799988
9669    428.920013
9670    432.149994
9671    429.049988
Name: High, Length: 297, dtype: float64


Low  outliers
 8983    326.369995
8984    330.000000
8985    330.649994
8986    329.510010
8987    334.420013
           ...
9667    427.589996
9668    417.510010
9669    417.269989
9670    424.700012
9671    417.359985
Name: Low, Length: 293, dtype: float64


Close  outliers
 8982    331.619995
8983    329.369995
8984    333.130005
8985    334.000000
8986    336.440002
           ...
9667    428.899994
9668    418.399994
9669    425.269989
9670    426.730011
9671    422.920013
Name: Close, Length: 289, dtype: float64


Volume  outliers
 0       1031788800
1        308160000
178      173836800
219      317894400
233      185731200
           ...
6104     176684100
6338     319317900
6896     248428500
6921     225493800
7191     202522400
Name: Volume, Length: 130, dtype: int64