In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
import matplotlib.cm as cm

In [2]:
data = pd.read_csv("../../Data/yfinance_data/NVDA_historical_data.csv")

Getting basic information

In [3]:
data.head()

,Date,Open,High,Low,Close,Adj Close,Volume,Dividends,Stock Splits
0,1999-01-22,0.043750,0.048828,0.038802,0.041016,0.037621,2714688000,0.0,0.0
1,1999-01-25,0.044271,0.045833,0.041016,0.045313,0.041562,510480000,0.0,0.0
2,1999-01-26,0.045833,0.046745,0.041146,0.041797,0.038337,343200000,0.0,0.0
3,1999-01-27,0.041927,0.042969,0.039583,0.041667,0.038218,244368000,0.0,0.0
4,1999-01-28,0.041667,0.041927,0.041276,0.041536,0.038098,227520000,0.0,0.0

In [4]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6421 entries, 0 to 6420
Data columns (total 9 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Date          6421 non-null   object
 1   Open          6421 non-null   float64
 2   High          6421 non-null   float64
 3   Low           6421 non-null   float64
 4   Close         6421 non-null   float64
 5   Adj Close     6421 non-null   float64
 6   Volume        6421 non-null   int64
 7   Dividends     6421 non-null   float64
 8   Stock Splits  6421 non-null   float64
dtypes: float64(7), int64(1), object(1)
memory usage: 451.6+ KB

In [5]:
data.shape

(6421, 9)

Summary statistics

In [6]:
data.describe()

,Open,High,Low,Close,Adj Close,Volume,Dividends,Stock Splits
count,6421.000000,6421.000000,6421.000000,6421.000000,6421.000000,6.421000e+03,6421.000000,6421.000000
mean,6.207884,6.320466,6.085095,6.207702,6.181334,6.060791e+08,0.000025,0.003348
std,16.138328,16.424862,15.794914,16.118517,16.121352,4.323482e+08,0.000316,0.142397
min,0.034896,0.035547,0.033333,0.034115,0.031291,1.968000e+07,0.000000,0.000000
25%,0.277500,0.286250,0.269500,0.276750,0.253843,3.456350e+08,0.000000,0.000000
50%,0.457250,0.464750,0.450750,0.457000,0.427637,5.070000e+08,0.000000,0.000000
75%,4.182500,4.235750,4.116500,4.175000,4.130434,7.362000e+08,0.000000,0.000000
max,139.800003,140.759995,132.419998,135.580002,135.580002,9.230856e+09,0.010000,10.000000

In [7]:
data.columns

Index(['Date', 'Open', 'High', 'Low', 'Close', 'Adj Close', 'Volume',
       'Dividends', 'Stock Splits'],
      dtype='object')

Looking for missing values

In [8]:
data.isnull().sum()

Date            0
Open            0
High            0
Low             0
Close           0
Adj Close       0
Volume          0
Dividends       0
Stock Splits    0
dtype: int64

Checking for outliers

In [9]:
def outliers(c):
  z_scores = (data[c] - data[c].mean()) / data[c].std()
  outlier = data[np.abs(z_scores) > 3]
  print(c," outliers\n",outlier[c], "\n\n")

In [10]:
outliers("Open")
outliers("High")
outliers("Low")
outliers("Close")
outliers("Volume")

Open  outliers
 6283     54.999001
6285     55.018002
6286     56.347000
6287     57.259998
6288     57.988998
           ...
6416    119.169998
6417    113.040001
6418    116.190002
6419    113.690002
6420    111.519997
Name: Open, Length: 137, dtype: float64


High  outliers
 6285     56.834999
6286     56.471001
6287     57.599998
6288     59.500000
6289     60.331001
           ...
6416    119.949997
6417    116.629997
6418    116.199997
6419    116.279999
6420    111.989998
Name: High, Length: 136, dtype: float64


Low  outliers
 6282     53.488998
6283     53.560001
6284     54.330002
6285     54.900002
6286     54.740002
           ...
6416    113.440002
6417    106.300003
6418    111.580002
6419    111.300003
6420    102.540001
Name: Low, Length: 139, dtype: float64


Close  outliers
 6283     54.821999
6284     54.709999
6285     56.382000
6286     56.053001
6287     57.106998
           ...
6416    114.250000
6417    112.279999
6418    113.059998
6419    111.589996
6420    103.730003
Name: Close, Length: 138, dtype: float64


Volume  outliers
 0       2714688000
145     1966992000
198     2011680000
210     2165184000
283     1952208000
           ...
4604    2129096000
4605    1939792000
4625    3692928000
4989    1963520000
5035    2511528000
Name: Volume, Length: 107, dtype: int64