In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
import matplotlib.cm as cm

In [2]:
data = pd.read_csv("../../Data/yfinance_data/TSLA_historical_data.csv")

Getting basic information

In [3]:
data.head()

,Date,Open,High,Low,Close,Adj Close,Volume,Dividends,Stock Splits
0,2010-06-29,1.266667,1.666667,1.169333,1.592667,1.592667,281494500,0.0,0.0
1,2010-06-30,1.719333,2.028000,1.553333,1.588667,1.588667,257806500,0.0,0.0
2,2010-07-01,1.666667,1.728000,1.351333,1.464000,1.464000,123282000,0.0,0.0
3,2010-07-02,1.533333,1.540000,1.247333,1.280000,1.280000,77097000,0.0,0.0
4,2010-07-06,1.333333,1.333333,1.055333,1.074000,1.074000,103003500,0.0,0.0

In [4]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3545 entries, 0 to 3544
Data columns (total 9 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Date          3545 non-null   object
 1   Open          3545 non-null   float64
 2   High          3545 non-null   float64
 3   Low           3545 non-null   float64
 4   Close         3545 non-null   float64
 5   Adj Close     3545 non-null   float64
 6   Volume        3545 non-null   int64
 7   Dividends     3545 non-null   float64
 8   Stock Splits  3545 non-null   float64
dtypes: float64(7), int64(1), object(1)
memory usage: 249.4+ KB

In [5]:
data.shape

(3545, 9)

Summary statistics

In [6]:
data.describe()

,Open,High,Low,Close,Adj Close,Volume,Dividends,Stock Splits
count,3545.000000,3545.000000,3545.000000,3545.000000,3545.000000,3.545000e+03,3545.0,3545.000000
mean,75.505658,77.159237,73.743492,75.487264,75.487264,9.699708e+07,0.0,0.002257
std,102.530489,104.806516,100.051787,102.456615,102.456615,7.866828e+07,0.0,0.097921
min,1.076000,1.108667,0.998667,1.053333,1.053333,1.777500e+06,0.0,0.000000
25%,11.516667,11.861333,11.216667,11.565333,11.565333,4.770600e+07,0.0,0.000000
50%,17.463333,17.688667,17.100000,17.459333,17.459333,8.250600e+07,0.0,0.000000
75%,161.880005,165.333328,158.360001,161.479996,161.479996,1.228890e+08,0.0,0.000000
max,411.470001,414.496674,405.666656,409.970001,409.970001,9.140820e+08,0.0,5.000000

In [7]:
data.columns

Index(['Date', 'Open', 'High', 'Low', 'Close', 'Adj Close', 'Volume',
       'Dividends', 'Stock Splits'],
      dtype='object')

Looking for missing values

In [8]:
data.isnull().sum()

Date            0
Open            0
High            0
Low             0
Close           0
Adj Close       0
Volume          0
Dividends       0
Stock Splits    0
dtype: int64

Checking for outliers

In [9]:
def outliers(c):
  z_scores = (data[c] - data[c].mean()) / data[c].std()
  outlier = data[np.abs(z_scores) > 3]
  print(c," outliers\n",outlier[c], "\n\n")

In [10]:
outliers("Open")
outliers("High")
outliers("Low")
outliers("Close")
outliers("Volume")

Open  outliers
 2857    386.453339
2858    392.443329
2859    411.470001
2860    409.333344
2861    383.263336
2862    391.200012
2871    387.443329
2872    389.170013
2877    386.899994
2900    396.516663
Name: Open, dtype: float64


High  outliers
 2856    403.250000
2857    402.863342
2858    405.130005
2859    414.496674
2860    413.290009
2861    399.000000
2871    400.649994
2872    393.500000
2899    400.356659
2900    402.666656
Name: High, dtype: float64


Low  outliers
 2857    382.000000
2858    384.206665
2859    405.666656
2860    402.666656
2861    377.666656
2871    377.476654
2899    378.679993
2900    374.350006
Name: Low, dtype: float64


Close  outliers
 2856    402.863342
2857    390.666656
2858    404.619995
2859    409.970001
2860    407.363342
2861    387.646667
2871    385.623322
2899    399.926666
2900    383.196655
Name: Close, dtype: float64


Volume  outliers
 720     429075000
721     376239000
722     336253500
723     557458500
733     376492500
          ...
2534    364927500
2559    355395000
2561    355123200
2566    346397100
2638    666378600
Name: Volume, Length: 72, dtype: int64